.padding{
    margin:5px;
    padding-left:5px;
}
label{
    display:inline-block;
}
#topicDiv{
    margin-top:10px;
}
.topicBTN{
    margin:5px;
}
#newTopics{
    background: rgba(0, 0, 0, 0);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
}
.wrapper{
    padding:50px;
}
.imageGif{
    height:300px;
    width: 400px;
}
.giff-holder{
    display: inline-block;
}
.jumbotron{
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
}
.header{
    size:500px;
    font-weight: bold;
}
.card-body{
    background: rgba(0, 0, 0, 0.5);
    color:#f1f1f1;/* Grey text */
}
